.theater-mode {
  &#main-container {
    padding: 0;
  }

  #main {
    padding: 0 !important;
  }

  #video-player-row,
  #video-player-container {
    width: 100%;
    height: auto;
    max-height: 80vh;
  }

  .video-js video.vjs-tech {
    position: relative;
  }

  [data-testid="tabs-root"] {
    z-index: -1 !important;
  }

  [id^="vjs_video"][data-vjs-player="true"] {
    border-radius: 0 !important;
  }

  #video-item-title-and-save-note {
    padding-inline: var(--cds-spacing-200);
  }
}

.tm-button {
  position: relative;
}

.tm-tooltip {
  width: fit-content;
  min-width: 120px;
  height: auto;
  position: absolute;
  top: -180%;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 10px;
  border-radius: 8px;
  font-size: 12px;
  display: none;
}

.tm-button:hover .tm-tooltip {
  display: inline-block;
}
